apiVersion: v1
kind: Secret
metadata:
  name: api-secret
  namespace: quickstart
type: Opaque
data:
  JWT_SECRET: Rk9LTCNGRGxqaGpQb3J0YWxBbmV4dGgxMjhuSmtkamtQUF1sc05KSEg=
  NODEMAILER_PASSWORD: VEhAYm5nMWQjSzk2JDU4
