apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc-develop
  namespace: football-manager
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment-develop
  namespace: football-manager
spec:
  selector:
    matchLabels:
      app: postgres-develop
  template:
    metadata:
      labels:
        app: postgres-develop
    spec:
      containers:
        - name: postgres-container-develop
          image: postgis/postgis:12-3.1-alpine
          imagePullPolicy: Always
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: postgres-secret
          env:
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: postgres-volume-develop
      volumes:
        - name: postgres-volume-develop
          persistentVolumeClaim:
            claimName: postgres-pvc-develop
---
kind: Service
apiVersion: v1
metadata:
  name: postgres-service-develop
  namespace: football-manager
spec:
  selector:
    app: postgres-develop
  type: NodePort
  ports:
    - name: postgresql
      port: 5432
